<div class="search-container">
  <img src="../../assets/imagenes/spotifyLogo.png" class="logo">

  <label class="separar">Buscar:</label>
  <input placeholder="Escribe el nombre de la ciudad..." [(ngModel)]="inputText" (input)="botonHabilitado = inputText.trim().length > 0" #ciudadInput>
  <button id="search-button" [disabled]="!botonHabilitado" (click)="buscarCiudad()">
    <i class="fa fa-search"></i>
    Buscar
  </button>
</div>

<app-mostrar-canciones #mostrarCanciones></app-mostrar-canciones>